app-port: 80

postgresql:
	user: "USER"
	database: "DATABASE"
	password: "PASSWORD"
	host: "localhost"
	port: 5432

gitlab-webhook-token:
        "TOKEN"

error-reporter:
        targets: ["EMAIL"]
        smtp:
                host: "HOST"
                login: "LOGIN"
		password: "PASSWORD"
