app-port: 8080
config-version: 2
error-reporter:
  smtp:
    host: SMTP-HOST
    login: SMTP-LOGIN
    password: SMTP-PASSWORD
  targets:
  - EMAIL
github-webhook-token: GITHUB-TOKEN
logging:
  basic-log-format: '[{asctime} {levelname}]{name}: '
  basic-time-format: '%I:%M:%S'
  common-log-file: common.log
  error-log-file: errors.log
  logging-folder: logs
  migration-log-file: migration.log
  server-log-file: server.log
postgresql:
  database: POSTGRES-DATABASE
  host: localhost
  password: POSTGRES-PASSWORD
  port: 5432
  user: POSTGRES-USER
ssl:
  cert-chain-path: CERT-CHAIN-PATH
  cert-privkey-path: CERT-PRIVKEY-PATH
