config-version: 6
app:
  port: 8080
  host: 0.0.0.0
error-reporter:
  smtp:
    host: null
    login: null
    password: null
  targets: []
email-confirmation:
  smtp:
    host: null
    login: null
    password: null
github-webhook-token: null
logging:
  basic-log-format: '[{asctime} {levelname}]{name}: '
  basic-time-format: '%I:%M:%S'
  common-log-file: common.log
  error-log-file: errors.log
  logging-folder: logs
  migration-log-file: migration.log
  server-log-file: server.log
postgres:
  database: iomirea
  host: postgres
  password: iomirea
  port: 5432
  user: iomirea
redis:
  host: redis
  password: null
  port: 6379
ssl:
  cert-chain-path: null
  cert-privkey-path: null
