<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8" name="viewport" content="hight=device-hight, initial-scale=1"/>
<link href="https://iomirea.ml/cssstyles.css" rel="stylesheet" type="text/css"/>
	
<head>
	
	<title>Authorization</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript">

     	$(function() {
		var redirect = "{{ redirect|safe }}"

		var xhr = new XMLHttpRequest();

		xhr.onreadystatechange = function() {
			if (this.readyState !== XMLHttpRequest.DONE) {
				return
			}
			if (this.status === 401) {
				alert('Wrong login or password')
			} else if (this.status === 200) {
				window.location.assign(redirect)
			} else {
				alert('Something went terribly wrong. Please, try to refresh page or return back later')
			}
		}

		$('#auth_form').on('submit', function(e) {
			// TODO: let user modify scope
			xhr.open("POST", window.location.href, true)
			xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			xhr.send("login="+$("#login_field").val()+"&password="+$("#password_field").val())
		})
	});
	</script>
</head>
<body>
	<form id="auth_form" onsubmit="return false;" > 
		<div >
			<header>
				<img src="logo.png" width="42" height="42" alt=""/>
				<span id="logotitle">IOMirea</span>
			</header>
			<p id="top">Login<br><input class="uinp" type="text" id="login_field" name="login">
				<br>Password<br><input class="uinp" type="text" id="password_field" name="password">
			</p>
			<p><input class="button" type="submit" value="Login"></p>
		</div> 
	</form>
</body>
<html>
