<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
	<link href="/style/common.css" rel="stylesheet" type="text/css">
	<link href="/style/login.css" rel="stylesheet" type="text/css">
<head>
	<title>Authorization</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/login_form.js">
	</script>
</head>
<body>
	<div>
		<form id="auth_form" onsubmit="return false;">
			<header><img id="logo" />IOMirea</header>
			<input class="uinp" type="email" required autocorrect="off" id="login_field" name="login" placeholder="Email">
			<span>
				<span id="eyebox" onclick="showhide()"><i id="eye" class="eye"></i></span>
				<input class="uinp" type="password" required id="password_field" name="password" placeholder="Password">
			</span>
			<a class="link" href="javascript:ResetPassword();">Forgot your password?</a>
			<input class="button" type="submit" value="Login">
			<p id="linkt">Still not with us? <a class="link" href="/register">Register</a></p>
		</form>
	</div>
</body>
</html>
