<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="/styles/common.css" rel="stylesheet" type="text/css">
	<link href="/styles/email.css" rel="stylesheet" type="text/css">
	<title>Access confirmation</title>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript">
     	$(function() {
		// TODO: let user modify scope
		}
	});

	function buildURL(item) {
		item.href='/login?redirect='+encodeURIComponent(window.location.href);
		return true;
	}
	</script>

</head>
<body>
	<div><header><img id="logo"/>IOMirea</header>
		<form id="auth_form" method="POST">
		Application: {{ app_name }}<br>
		Made by {{ app_author_name }} ( {{ app_author_id }} )<br>
		Scope: {{ scope }}<br>
		<p />
		<input class="button" id="b1" type="submit" name="confirm_btn" value="Confirm">
		<input class="button" id="b2" type="submit" name="deny_btn" value="Deny">

		<a onclick="return buildURL(this)" href="">Change account ({{ user_name }})</a>
	</form>
	</div>
</body>
</html>
