<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">
     		$(function() {
			var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function() {
				if (this.readyState !== XMLHttpRequest.DONE) {
					return
				}
				if (this.status === 400) {
					// TODO: better error handling
					console.log(this)
					alert('Registration error\n'+this.statusText)
				} else if (this.status === 200) {
					// redirect from server
					window.location.href = this.responseURL
				} else {
					alert('Something went terribly wrong. Please, try to refresh page or return back later')
				}
			}
			$('#auth_form').on('submit', function(e) {
				// TODO: do not send until fields are not empty
				xhr.open('POST', window.location.href, true)
	                        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
				xhr.send(
					'nickname=' + $('#nickname_field').val() +
					'&email='   + $('#email_field').val()    +
					'&password='+ $('#password_field').val()
				)
			})
		});
		</script>
	  <title>Регистрация</title>
  <style>
   body {
    background: #ffd999 /* Цвет фона */
   }
  </style>

</head>
<body>
    <form id="auth_form" onsubmit="return false;">
      <header style="background-color: #F5B530;">
		  <span 
				style="color: #ffb959; font-size: 170%; font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, sans-serif;"><img src="https://iomirea.ml/logo.png" width="100" height="95" alt=""/><span style="text-align: left; color: #6A5ACD;">IOMirea</span></span>      </header>
<div> 
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
   <table width="200" border="1" align="center">
<td bgcolor="#ffb959" style="text-align: center; color: #FFFFFF;"><p><span style="text-align: right"></span>Nickname<br>
  <input id="nickname_field" name="nickname" type="text">
  <br>
  Email<br>
  <input id="email_field" name="email" type="text">
  <br>
  Password<br>
  <input id="password_field" name="password" type="text">
</p>
    <p><span style="text-align: center">
      <input value="register" type="submit">
    </span> </p></td>
  </table>
</div>
  </form>
  </body>
</html>
