<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<link href="/styles/common.css" rel="stylesheet" type="text/css">
	<link href="/styles/login.css" rel="stylesheet" type="text/css">
	<link href="/styles/reset_password.css" rel="stylesheet" type="text/css">
	
	<title>Password reset</title>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script language="javascript" type="text/javascript">
		$(function() {
			var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function() {
				if (this.readyState !== XMLHttpRequest.DONE) {
					return
				}
				if (this.status === 400) {
					// TODO: better error handling
					alert("Password change error\n"+this.statusText)
				} else if (this.status === 200) {
					// redirect from server
					window.location.href = "/"
				} else {
					alert("Something went terribly wrong. Please, try to refresh page or return back later")
				}
			}
			$("#password_form").on("submit", function(e) {
				// TODO: do not send until fields are not empty
				xhr.open("POST", window.location.href, true)
				xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
				xhr.send(
					"code=" +"{{ code }}"+
					"&password="+$("#password_field").val()
				)
			})
		});
	</script>
</head>
<body>
	<div>
		<header><img id="logo"/>IOMirea</header>
		<form id="password_form" onsubmit="return false;">
		New Password<br>
		<input class="uinp" id="password_field" name="password" type="text">
		<input class="button" value="Change password" type="submit">
	</form>
	</div>
</body>
</html>
