<!DOCTYPE html>
<meta charset="utf-8" />
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script language="javascript" type="text/javascript">
     		$(function() {
			var redirect_uri = "{{ redirect_uri }}"
			var app_name = "{{ app_name }}"
			var scope = "{{ scope }}"

			var xhr = new XMLHttpRequest();

			xhr.onreadystatechange = function() {
				if (this.readyState !== XMLHttpRequest.DONE) {
					return
				}

				if (this.status !== 200) {
					alert('Wrong login or password')
				} else {
					if (redirect_uri.includes("?")) {
						delim = "&"
					} else {
						delim = "?"
					}
					window.location.href = redirect_uri+delim+'code='+this.response
				}
			}

			$('#auth_form').on('submit', function(e) {
				xhr.open('POST', window.location.href, true)
	                        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
				xhr.send('login='+$('#login_field').val()+'&password='+$('#password_field').val())
			})
		});
		</script>
	</head>
	<body>
		<form id="auth_form" onsubmit="return false;">
			Scope: {{ scope }}<br>
			App Name: {{ app_name }}<br>
			Login<br>
			<input type="text" id="login_field" name="login"><br>
			Password<br>
			<input type="text" id="password_field" name="password"><br><br>
			<input type="submit" value="login">
		</form>
</body>
</html>
