@charset "utf-8";
/* CSS Document */

header{
    font-size:20px;
    color:#6A5ACD;
    text-align: left;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body{
    height: inherit;
    width: inherit;
    background-image: url("https://iomirea.ml/fox.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
}

#logo{
    content:url("https://iomirea.ml/logo.png");
    height: 42px;
    widht: 42px;
}

div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#FFB959;
    padding: 10px;
    border-radius: 20px;
    box-shadow:0px 0px 4px 1px #975B0B;
}
