@charset "utf-8";
/* CSS Document */

header{
    position: absolute;
    right: 2%;
    top:1%;
    font-size:20px;
    color:#6A5ACD;
    text-align: left;
    margin-bottom: 15px;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body{
    margin-left: 7px;
    user-select: none;
    height: inherit;
    width: inherit;
    background-image: url("/foxl.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
}

#logo{
    right: 8%;
    content:url("/logo.png");
    height: 80px;
}

form{
    margin-left: 15px;
    width: 90%;
}

#text{
    width:100%;
    height:11em;
    text-indent: 20px;
}

div{
    margin-left: 15px;
    width: 80%;
    height: 150px;
    border-style: inset;
    border-radius: 15px;
    background: #f3f3f3;
    border-color: #f5f5f5;
    box-shadow:0px 0px 4px 1px #e6e0df;
}
