@charset "utf-8";
/* CSS Document */

#eyebox {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 200;
	height: 51px;
	opacity:.6;
	right: 32px;
	cursor: pointer;
}

#eyebox:hover {
	opacity: 1;
}

.eye {
	content: url("/eye.png");
	width: 20px;
}

.eyesl {
	content: url("/eyesl.png");
	width: 20px;
}

div {
	width: 300px;
	text-align: center;
	color: #FFFFFF;
	font-size: 17px;
}


.uinp::placeholder {
	color: #FFFFFF;
}

.uinp {
	text-indent: 3px;
	outline: none;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 90%;
	height: 25px;
	font-size: 17px;
	border-style: inset;
	border-width: 1.8px;
	border-color: #FFAF46;
	border-radius: 5px;
	background-color: #FFB34F;
	color: #FFFFFF;
}

.uinp:hover {
	border-color: #E08000;
	background-color: #F4A845;
}

.uinp:focus {
	border-color: #E08000;
	background-color: #F4A845;
}


.link {
	margin-top: 20px;
	font-size: 12px;
	line-height: 1.6;
	text-decoration: none;
}

#linkt {
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 1.6;
}

.link:visited {
	color: #0000EE
}

.link:active {
	color: #0000EE
}

.link:hover{
    text-decoration:underline;
}

.button {
	outline: none;
	margin-top: 10px;
	margin-bottom: 3px;
	width: 200px;
	height: 34px;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 15px;
	border-style: hidden;
	border-radius: 6px;
	background-color: #F19133;
	color: #FFFFFF;
}

.button:hover {
	background-color: #F18923;
	color: #EDEDED;
	cursor: pointer;
}

.button:active {
	border-style: inset;
	border-width: 1.6px;
	border-color: #DB7F00;
	background-color: #EA8600;
	color: #D9D9D9;
}
