@charset "utf-8";
/* CSS Document */

header{
	margin-bottom: 8px;
}

div{
	width: 250px;
	font-size: 15px;
}

.uinp{
	margin-top: 5px;
	width: 80%;
	height: 20px;
	font-size: 15px;
}

.button{
	margin-top: 15px;
	width: 150px;
	height: 30px;
	font-size: 15px;
}